
@{
    ViewData["Title"] = "FailPage";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/Style/style.css">
    <title>DataEntry</title>
</head>

<body style="        background-color: #4d4d4d;
        height: 750px;">
    <div style="        width: 341px;
        height: 140px;
        color: chartreuse;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        border: 3px solid #fff;
">
        <p style="color: chartreuse; font-size: 30px; font-weight: 900;">Failed Process <br />Please Try again</p>
    </div>
</body>

</html>